<div class"container">
    <form method="post" action="{{ path('app_quotes_delete', {'id': quote.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quote.id) }}">
        <button class="btn">Delete</button>
    </form>
</div>