{% extends 'base.html.twig' %}

{% block title %}Edit Quotes{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Quotes</h1>

    {{ include('quotes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quotes_index') }}">back to list</a>

    {{ include('quotes/_delete_form.html.twig') }}
</div>
{% endblock %}
