{% extends 'base.html.twig' %}

{% block title %}Liste des citations{% endblock %}

{% block body %}
<style>
    h1{
        text-decoration: underline;
        font-weight: bold;
    }

        .blockquote{
                font-size: 27px;
        }

        .pagination{
                font-size: 15px;
                margin: auto;
        }

        .row{
                border: 2px solid white;
        }
        .mb-0{
            padding-bottom: 7px;
        }
</style>
<div class="container"> 
    <h1>Liste des citations</h1>

    <div class="container">
    {% for quote in quotes %}
        <blockquote class="blockquote">
            <p class="mb-0">{{ quote.Content }}</p>
            <footer class="blockquote-footer"><cite> {{ quote.Meta }}</cite>
            <p> Category: {{ quote.category }}</p>
            <a href="{{ path('app_quotes_show', {'id': quote.id}) }}">show</a>
            <a href="{{ path('app_quotes_edit', {'id': quote.id}) }}">edit</a>
        </blockquote>
        {% else %}
            <h3>Aucun résultat trouvé</h3>
        {% endfor %}
        
    </div>

    {#<a href="{{ path('app_quotes_new') }}">Create new</a>#}
</div>
{% endblock %}
