{% extends 'base.html.twig' %}

{% block title %}New Quotes{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Quotes</h1>

    {{ include('quotes/_form.html.twig') }}

    <a href="{{ path('app_quotes_index') }}">back to list</a>
</div>
{% endblock %}
