{% extends 'base.html.twig' %}

{% block title %}Quotes{% endblock %}

{% block body %}
<div class="container">
    <h1>Quotes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quote.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ quote.Content }}</td>
            </tr>
            <tr>
                <th>Meta</th>
                <td>{{ quote.Meta }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quotes_index') }}">back to list</a>

    <a href="{{ path('app_quotes_edit', {'id': quote.id}) }}">edit</a>

    {{ include('quotes/_delete_form.html.twig') }}
</div>
{% endblock %}
